body {
}

.content1 {
    display: flex;
    background-color: ghostwhite;
    background-image: url('../images/imagebackground.PNG');
    background-size: 100% 100%;
}

    .content1 img {
        margin: 1% 2% 0% 2%;
    }

.nd1 {
    margin: 1% 0% 0% 0%;
}

.nd1_p1 {
    color: gray;
}

.nd1_p2 {
    color: blue;
    font-style: italic;
    font-weight: bold;
    margin: 0px !important;
}

.nd2 {
    text-align: right;
    margin-top: -1%;
    margin-left: 31.5%;
    width: 34%;
    height: 5%;
}

    .nd2 img {
        margin: 0px;
    }

.nd2_p2 {
    margin-top: 12%;
    margin-right: -0.5%;
    margin-bottom: 0px;
    color: whitesmoke;
}

.menu {
    margin-top: -16px;
    padding: 0px;
}

    .menu ul {
        display: flex;
        background-color: dodgerblue;
    }

        .menu ul li {
            list-style: none;
            padding: 10px 15px 10px 15px;
        }

            .menu ul li:hover {
                background-color: deepskyblue;
            }

            .menu ul li a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-family: Calibri;
            }

.ct2_menu {
    width: 13%;
    margin-top: -32px;
}

    .ct2_menu ul {
        padding: 0px;
    }

        .ct2_menu ul li {
            list-style: none;
            background-color: #CCE5FF;
            border: 1px solid white;
            padding: 10px 0px 10px 0px;
        }

            .ct2_menu ul li a {
                text-decoration: none;
                color: Highlight;
                font-weight: bold;
                font-family: 'Times New Roman';
                margin-left: 10px
            }

                .ct2_menu ul li a:hover {
                    color: red;
                }

.content2 {
    display: flex;
}

.ct2_nd1 {
    display: flex;
    margin-left: 3px
}

    .ct2_nd1 p {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        margin: 0px;
    }

.QuanLySV {
    margin: 0px;
    margin-top: -5px;
    margin-bottom: 8px;
}

.search_select {
    width: 900px;
    text-align: right;
    margin-top: 30px;
    margin-left: 171.5px
}

.search1 {
    height: 25px;
    border-color: deepskyblue;
    font-style: italic;
    background-color: #CCFFFF;
}

table {
    width: 100%;
    margin-top: 5px;
    background-color: #CCE5FF
}

.table {
    max-width: 108% !important;
    width: 108% !important;
    margin-left: 3px
}
/*.td_image{
        width:60px
}*/
.btn1 {
    width: 60px !important;
}

button {
    font-weight: bold;
}

td {
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-family: Calibri !important
}

th {
    text-align: center !important;
    font-family: Calibri !important;
}

td img {
    vertical-align: middle;
    margin-top: 10px;
    width: 13px;
    height: 13px;
}

.btn {
    width: 50px !important;
    height: 50px !important;
}

.form_ct label {
    margin: 0px !important;
}

.form_ct {
    margin-top: 5px;
    margin-left: 30px !important;
}

    .form_ct input {
        width: 650px;
        height:23px;
    }

label {
    width: 100px;
    display: inline-block;
    width: 180px;
}

.form-select {
    width: 658px !important;
    height:30px;
}

.form-check-input {
    width: 10px !important;
}

#DaLayBang {
    width: 10px
}

