body {

}
.content1 {
    display: flex;
    background-color: ghostwhite
}
.content1 img{
    margin:1% 2% 0% 2%;
}
.nd1{
    margin: 1% 0% 0% 1%;
    background-color:ghostwhite
}
.nd1_p1{
    color:gray;
}
.nd1_p2{
    color:blue;
    font-style:italic;
    font-weight:bold;
}
.nd2 {
    text-align: right;
    margin-top: -1%;
    margin-left: 27%;    
    width: 35%;
    height: 5%;
}
.nd2_p1 {
    box-shadow: 3px 3px gray;
}
.nd2 img{
    margin:0px;
}
.nd2_p2{
    margin-top:13%;
    margin-bottom:0px;
}
.menu{
    margin-top:-15px;
    padding:0px;
}
.menu ul {
    display: flex;
    background-color:dodgerblue;
}

.menu ul li{
    list-style:none; 
   padding:10px 15px 10px 15px;
}
.menu ul li:hover{
    background-color:deepskyblue;
}
.menu ul li a{
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    font-family:Calibri;
}
.ct2_menu{
    width:15%;
}
    .ct2_menu ul li {
        list-style: none;
        background-color: #CCE5FF;
        border: 1px solid white;
        padding: 10px 0px 10px 0px;
    }
.ct2_menu ul li a{
    text-decoration:none;
    color:Highlight;
    font-weight:bold;
    font-family:Calibri;
    margin-left:10px
}
.ct2_menu ul li a:hover{
    color:red;
}
.content2{
    display:flex;
}
.ct2_nd1{
    display:flex;
    margin-left:10px
}
.ct2_nd1 p{
    font-weight:bold;
    text-transform:uppercase;
    font-size:15px;
}
.search_select{
    width:900px;
   text-align:right ;
   margin-top:48px;
}
.search {
    border-color: deepskyblue;
    font-style: italic;
    background-color: #E5FFCC;
}
table {
    width: 100%;
    margin-top: 5px;
    background-color: #CCE5FF
}
.table {
   
    margin-left:10px
}
/*.td_image{
        width:60px
}*/
.btn1{
    width:60px !important;
}
button{
    font-weight:bold;
}
td{
    padding:5px 0px 5px 0px;
    text-align:center
}
th{
    text-align:center !important
}
td img{
    width:10px;
    height:10px;
}
.btn{
    width:100px !important;
    height:100px !important;
}


